@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbarcustom {
    margin: 0;
    padding: 0;
    height: 124px;
    background-color: white;
}

.navbarcustom ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.navbarcustom li{
    float: right;
}

.loader-nav-namelogo {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px 10px 30px;
    text-align: left;
    color: black;
    background-color: white;
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
}

.loader-nav-join {
    display: inline-block;
    margin: 26px;
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    width: 200px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.loader-nav-join a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.loader-nav-join:hover{
    display: inline-block;
    border: 1px solid white;
    color: #128061;
}

.loader-nav-join:hover a{
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.loader-img{
    padding: 0;
    margin: 0;
    position: relative;
}

.loader-img img{
    width: 100%;
    height: 845px;
}

.loader-img-text{
    position: absolute;
    bottom: 40px;
    color: white;
    text-align: left;
    font-size: 72px;
    padding-left: 20px;
}

.RealBodyLinksNav {
    display: inline-block;
    margin: 24px 10px 22px 10px;
    padding: 20px 10px 20px 10px;
    width: 150px;
    height: 80px;
    text-align: center;
    color: #128061;
    background-color: white;
}

.RealBodyLinksNav a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.RealBodyLinksNav a:hover{
    text-decoration: none;
}

.logout {
    width: 300px;
    font-size: 22px;
    background-color: white;
}

/**/
.Row-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b4f7e6;
}

.Row-mid h1{
    margin-left: 2%;
}

.txt-color-black {
    color: black;
    text-align: left;
    font-size: 22px;
    margin-left: 2%;
}

.registerbtn {
    text-align: center;
    width: 200px;
    display: inline-block;
    overflow: hidden;
    color: #b5f7e6;
    padding: 20px;
    border: 1px solid;
    background-color: #128061;
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size: 24px;
    margin: 20px;
    margin-left: 2%;
}

.loginbtn {
    text-align: center;
    width: 200px;
    display: inline-block;
    overflow: hidden;
    color: #b5f7e6;
    padding: 20px;
    border: 1px solid;
    background-color: #128061;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    margin: 20px;
    margin-left: 2%;
}

    .loginbtn:hover, .registerbtn:hover {
        outline: none;
        text-decoration: none;
        color: #b5f7e6;
    }

.img-col{
    text-align: center;
}

.loginindexicon {
    font-size: 30px;
    color: #b5f7e6;
    background-color: #128061;
    transform: translateY(6px);
    margin-right: 30px;
}

.registerindexicon {
    font-size: 30px;
    color: #b5f7e6;
    background-color: #128061;
    transform: translateY(6px);
    margin-right: 30px;
}

.bxhomeicon {
    background-color: white;
    transform: translateY(5px);
    font-size: 30px;
}

.bxlogout {
    font-size: 30px;
    transform: translateY(5px);
}

.RealBodyLinksNavLogout {
    display: inline-block;
    margin: 20px 30px 20px 10px;
    padding: 20px 10px 20px 10px;
    width: 320px;
    height: 80px;
    text-align: center;
    background-color: white;
}

    .RealBodyLinksNavLogout button {
        text-decoration: none;
        text-align: center;
        font-size: 24px;
        font-family: 'Montserrat Alternates', sans-serif;
        border: 1px solid #266352;
        width: 300px;
        border-radius: 0 15px 0 15px;
        color: #128061;
        background-color: white;
    }

        .RealBodyLinksNavLogout button:hover {
            text-decoration: none;
            text-align: center;
            font-size: 24px;
            font-family: 'Montserrat Alternates', sans-serif;
            border: 1px solid #266352;
            width: 300px;
            border-radius: 15px 0 15px 0;
            color: #b5f7e6;
            background-color: #128061;
        }

    .RealBodyLinksNavLogout .bxlogout:hover {
        background-color: #128061;
    }

.LOForm {
    background-color: white;
}