@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b5f7e6;
    box-sizing: border-box;
}

#EForm {
    margin: 30px 0 0 0;
}

#psw-check {
    width: 500px;
    font-size: 24px;
    margin: 10px 0 0 0px;
    color: #266352;
    text-align: center;
    outline: #53c0a2 2px;
    padding: 10px;
    border: 2px solid #53c0a2;
    border-radius: 5px;
}

    #psw-check::placeholder, #e-check::placeholder {
        color: #266352;
        font-weight: lighter;
    }

#e-check {
    font-size: 24px;
    margin: 10px 0 0 0px;
    width: 500px;
    padding: 10px;
    color: #266352;
    text-align: center;
    outline: #53c0a2 1px;
    border: 2px solid #53c0a2;
    border-radius: 5px;
}

#SubmitLogin {
    font-size: 24px;
    margin: 10px 0 0 0px;
    width: 500px;
    color: #266352;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    padding: 5px;
    outline: #53c0a2 2px;
    border: 2px solid #128061;
    border-radius: 5px;
}

/* Input Passa al Login */
.RegisterLogin {
    font-size: 24px;
    margin: 10px 0 0 0px;
    width: 500px;
    color: #266352;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    font-family: 'Bungee', cursive;
}

.RegisterLogin {
    display: inline-block;
    margin: 26px;
    padding: 10px;
    border: 2px solid #128061;
    border-radius: 20px 5px 20px 5px;
    width: 500px;
    text-align: center;
}

    .RegisterLogin a {
        text-decoration: none;
        font-size: 24px;
        color: #266352;
    }

    .RegisterLogin:hover {
        display: inline-block;
        border: 2px solid #128061;
        transition: all 1s;
        color: #53c0a2;
        border-radius: 5px 30px 5px 30px;
    }

#Ricordami {
    font-size: 28px;
    margin: 10px 2% 10px 2%;
    color: #266352;
    color: currentColor;
    width: 25px;
    height: 25px;
    border: 1px solid currentColor;
    border-radius: 0.5px;
    transform: translateY(3px);
}

#Ricordami_text {
    width: 500px;
    font-size: 22px;
    float: left;
    text-align: left;
    margin: 10px 8% 5px 8%;
    color: #266352;
}

#e-msg, #p-msg {
    display: block;
    color: darkred;
    font-size: 22px;
    padding: 5px;
}

#Psw_forgot_text, #Resend_Verify_Text {
    font-size: 22px;
    color: #266352;
    text-align: left;
    margin: 10px 10% 0 10%;
}

#EndFormsLinks {
    margin: 10px 0 10px 0;
}

    #EndFormsLinks a {
        text-decoration: none;
    }

#Title-login {
    text-align: center;
    font-size: 54px;
    padding: 5px;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
}

#Subtitle-login {
    text-align: center;
    padding: 2px;
    margin: 0 9% 0 9%;
    width: 500px;
}

#imglogin {
    width: 500px;
    text-align: center;
}

.Row-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.Social-login {
    margin: 20px 0 0 0;
}

    .Social-login a {
        font-size: 54px;
        text-decoration: none;
        color: #4f4e79;
        padding: 10px;
    }

.bxl-twitter:hover {
    color: #007fff;
}

.bxl-discord:hover {
    color: #728cd4;
}

.bxl-facebook:hover {
    color: #0000ff;
}

.bxl-instagram:hover {
    animation: instragram-colors-hover 2s alternate infinite;
}

@keyframes instragram-colors-hover {
    0% {
        color: rgba(81,91,212,1);
    }

    25% {
        color: rgba(129,52,175,1);
    }

    50% {
        color: rgba(221,42,123,1);
    }

    75% {
        color: rgba(254,218,119,1);
    }

    100% {
        color: rgba(245,133,41,1);
    }
}

.navbarcustom {
    margin: 0;
    padding: 0;
    height: 124px;
}

    .navbarcustom ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
    }

    .navbarcustom li {
        float: right;
        background-color: white;
    }

.RealBodyLinksNav {
    display: inline-block;
    margin: 24px 10px 22px 10px;
    padding: 20px 10px 20px 10px;
    width: 150px;
    height: 80px;
    text-align: center;
}

    .RealBodyLinksNav a {
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 24px;
    }

        .RealBodyLinksNav a:hover {
            text-decoration: none;
        }

        .RealBodyLinksNav a, .loader-nav-namelogo a, .RealBodyLinksNav a i {
            background-color: white;
        }

.loader-nav-namelogo {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px 10px 30px;
    text-align: left;
    color: black;
    font-size: 32px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}
