@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.RealBodyLinksNavLogout button {
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat Alternates', sans-serif;
    border: 1px solid #266352;
    width: 300px;
    border-radius: 0 15px 0 15px;
    color: #128061;
    background-color: white;
}

.Body-Privacy {
    padding: 20px;
    margin: 10px;
    overflow: hidden;
}

.navbarcustom {
    margin: 0;
    padding: 0;
    height: 124px;
    background-color: white;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

    .navbarcustom ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
    }

    .navbarcustom li {
        float: right;
        background-color: white;
    }

.RealBodyLinksNav {
    display: inline-block;
    margin: 24px 10px 22px 10px;
    padding: 20px 10px 20px 10px;
    width: 150px;
    height: 80px;
    text-align: center;
}

    .RealBodyLinksNav a {
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 24px;
        font-family: 'Montserrat Alternates', sans-serif;
    }

        .RealBodyLinksNav a:hover {
            text-decoration: none;
        }

        .RealBodyLinksNav a, .loader-nav-namelogo a, .RealBodyLinksNav a i {
            background-color: white;
        }

.loader-nav-namelogo {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px 10px 30px;
    text-align: left;
    color: black;
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
}

.bxhomeicon {
    background-color: white;
    transform: translateY(5px);
    font-size: 30px;
}

.bxlogout {
    font-size: 30px;
    transform: translateY(5px);
}

.RealBodyLinksNavLogout {
    display: inline-block;
    margin: 20px 30px 20px 10px;
    padding: 20px 10px 20px 10px;
    width: 320px;
    height: 80px;
    text-align: center;
    background-color: white;
}

    .RealBodyLinksNavLogout button {
        text-decoration: none;
        text-align: center;
        font-size: 24px;
        font-family: 'Montserrat Alternates', sans-serif;
        border: 1px solid #266352;
        width: 300px;
        border-radius: 0 15px 0 15px;
        color: #128061;
        background-color: white;
    }

        .RealBodyLinksNavLogout button:hover {
            text-decoration: none;
            text-align: center;
            font-size: 24px;
            font-family: 'Montserrat Alternates', sans-serif;
            border: 1px solid #266352;
            width: 300px;
            border-radius: 15px 0 15px 0;
            color: #b5f7e6;
            background-color: #128061;
        }

    .RealBodyLinksNavLogout .bxlogout:hover {
        background-color: #128061;
    }

.LOForm {
    background-color: white;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}
