@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Centrare tutto in mezzo alla pagina*/
.Row-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    background-color: #b5f7e6;
}


/* Form Email Setting */
#EForm {
    margin-top: 30px;
}

/* Form Password and Confirm password Setting */
#PForm, #CPForm {
    margin: 10px;
}

/* Form Submit Setting */
#SForm {
    padding: 20px;
}

/* Input Password */
#psw-check {
    width: 500px;
    font-size: 24px;
    color: #266352;
    text-align: center;
    outline: #53c0a2 2px;
    padding: 10px;
    background-color: #b5f7e6;
    border: 2px solid #53c0a2;
    border-radius: 5px;
}

    /* Setup placeholder input Password, Email, Confirm Password*/
    #psw-check::placeholder, #e-check::placeholder, #conf-psw-check::placeholder {
        color: #266352;
        font-weight: lighter;
    }

/* Input Confirm Password */
#conf-psw-check {
    width: 500px;
    font-size: 24px;
    margin: 10px 0 0 0px;
    color: #266352;
    text-align: center;
    background-color: #b5f7e6;
    outline: #53c0a2 2px;
    padding: 10px;
    border: 2px solid #53c0a2;
    border-radius: 5px;
}

/* Input Email */
#e-check {
    font-size: 24px;
    margin: 10px 0 0 0px;
    width: 500px;
    padding: 10px;
    color: #266352;
    text-align: center;
    background-color: #b5f7e6;
    outline: #53c0a2 1px;
    border: 2px solid #53c0a2;
    border-radius: 5px;
}

/* Input Submit Registrati */
#SubmitRegister {
    font-size: 24px;
    margin: 10px 0 0 0px;
    width: 500px;
    color: #266352;
    text-align: center;
    background-color: #b5f7e6;
    padding: 5px;
    font-weight: bold;
    padding: 5px;
    outline: #53c0a2 2px;
    border: 2px solid #128061;
    border-radius: 5px;
}

/* Input Passa al Login */
.LoginRegister {
    display: inline-block;
    font-size: 24px;
    margin: 10px 0 0 0px;
    width: 500px;
    color: #266352;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: 2px solid #128061;
    border-radius: 20px 5px 20px 5px;
    font-family: 'Bungee', cursive;
}

    .LoginRegister a {
        text-decoration: none;
        font-size: 24px;
        color: #266352;
    }

    .LoginRegister:hover {
        display: inline-block;
        border: 2px solid #128061;
        transition: all 1s;
        color: #128061;
        border-radius: 5px 30px 5px 30px;
    }

/* Email Message */
#e-msg {
    display: block;
    color: darkred;
    font-size: 22px;
    padding: 5px;
}
/* Password Message */
#p-msg {
    display: block;
    color: darkred;
    font-size: 22px;
    padding: 5px;
}

/* Titolo Register */
#Title-register {
    text-align: center;
    font-size: 54px;
    padding: 5px;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif;
}

/* Sottotitolo Register */
#Subtitle-register {
    text-align: center;
    padding: 2px;
    margin: 0 9% 0 9%;
    width: 500px;
}

/* Setup Imagine Register*/
#imgregister {
    width: 500px;
    text-align: center;
}

/* Parte Social */
.Social-login {
    margin: 20px 0 0 0;
}

    .Social-login a {
        font-size: 54px;
        text-decoration: none;
        color: #4f4e79;
        padding: 10px;
    }

.bxl-twitter:hover {
    color: #007fff;
}

.bxl-facebook:hover {
    color: #0000ff;
}

.bxl-discord:hover {
    color: #728cd4;
}

.bxl-instagram:hover {
    animation: instragram-colors-hover 2s alternate infinite;
}

@keyframes instragram-colors-hover {
    0% {
        color: rgba(81,91,212,1);
    }

    25% {
        color: rgba(129,52,175,1);
    }

    50% {
        color: rgba(221,42,123,1);
    }

    75% {
        color: rgba(254,218,119,1);
    }

    100% {
        color: rgba(245,133,41,1);
    }
}


.navbarcustom {
    margin: 0;
    padding: 0;
    height: 124px;
}

    .navbarcustom ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
    }

    .navbarcustom li {
        float: right;
        background-color: white;
    }

.RealBodyLinksNav {
    display: inline-block;
    margin: 24px 10px 22px 10px;
    padding: 20px 10px 20px 10px;
    width: 150px;
    height: 80px;
    text-align: center;
}

    .RealBodyLinksNav a {
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 24px;
        font-family: 'Montserrat Alternates', sans-serif;
    }

        .RealBodyLinksNav a:hover {
            text-decoration: none;
        }

        .RealBodyLinksNav a, .loader-nav-namelogo a, .RealBodyLinksNav a i {
            background-color: white;
        }

.loader-nav-namelogo {
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px 10px 30px;
    text-align: left;
    color: black;
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
}

.bxhomeicon {
    background-color: white;
    transform: translateY(5px);
    font-size: 30px;
}

.bxlogout {
    font-size: 30px;
    transform: translateY(5px);
}

.RealBodyLinksNavLogout {
    display: inline-block;
    margin: 20px 30px 20px 10px;
    padding: 20px 10px 20px 10px;
    width: 320px;
    height: 80px;
    text-align: center;
    background-color: white;
}

    .RealBodyLinksNavLogout button {
        text-decoration: none;
        text-align: center;
        font-size: 24px;
        font-family: 'Montserrat Alternates', sans-serif;
        border: 1px solid #266352;
        width: 300px;
        border-radius: 0 15px 0 15px;
        color: #128061;
        background-color: white;
    }

        .RealBodyLinksNavLogout button:hover {
            text-decoration: none;
            text-align: center;
            font-size: 24px;
            font-family: 'Montserrat Alternates', sans-serif;
            border: 1px solid #266352;
            width: 300px;
            border-radius: 15px 0 15px 0;
            color: #b5f7e6;
            background-color: #128061;
        }

    .RealBodyLinksNavLogout .bxlogout:hover {
        background-color: #128061;
    }

.LOForm {
    background-color: white;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

    .col-img, .col-form {
        transform: scale(0.8);
        text-align: center;
    }

    #imgregister {
        width: 400px;
        text-align: center;
    }

    #Subtitle-login, #Psw_forgot_text, #Resend_Verify_Text, .LoginRegister {
        margin: 5px 0 5px 0;
    }

    .loader-nav-namelogo{
        display: inline-block;
        transform: scale(0.7);
    }
    .RealBodyLinksNav, .RealBodyLinksNavLogout{
        display: inline-block;
        transform: scale(0.5);
    }

}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}
