@model Api_Pcto.Telecamera

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Telecamera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="link" class="control-label"></label>
                <input asp-for="link" class="form-control" />
                <span asp-validation-for="link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_like" class="control-label"></label>
                <input asp-for="num_like" class="form-control" />
                <span asp-validation-for="num_like" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_salvati" class="control-label"></label>
                <input asp-for="num_salvati" class="form-control" />
                <span asp-validation-for="num_salvati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
