@page
@model ForgotPasswordModel
@{
    Layout = "~/Pages/Layout/_FPasswordLayout.cshtml";
}
<div class="Body-ForgotPassword">
    <!-- Body Login -->
    <div class="row Row-mid">
        <div class="col col-md-4 col-img">
            <img src="~/Img/forgotpassword.png" alt="Login Img" id="imglogin" />
            <div class="Social-login">
                <a href=""><em class='bx bxl-instagram'></em></a>
                <a href=""><em class='bx bxl-twitter'></em></a>
                <a href=""><em class='bx bxl-discord'></em></a>
                <a href=""><em class='bx bxl-facebook'></em></a>
            </div>
        </div>
        <div class="col col-md-1">
        </div>
        <div class="col col-md-4 col-form">
            <h1 id="Title-login">Forgot Password</h1>
            <h4 id="Subtitle-login">
                Ti preghiamo di inserire l'email in modo che possiamo mandarti un email per recuperare la password del tuo account!
            </h4>
            <section>
                <form id="account" method="post">
                    <div id="FPForm form-group">
                        <input type="email" asp-for="Input.Email" id="fp-check" placeholder="Email"
                               autocomplete="off" />
                        <span id="fp-msg" asp-validation-for="Input.Email"></span>
                    </div>
                    <div id="SForm form-group">
                        <input type="submit" id="SubmitFPsw" value="Recupera" />
                    </div>
                    <div id="FoPassword form-group">
                        <a asp-page="./Login" class="FoPasswordLogin"><em class='bx bxs-user-plus' style="font-size: 32px; position:absolute; transform: translateX(-50px);"></em>Torna al LOGIN</a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}