@page
@model ForgotPasswordConfirmation
@{
    
}

<div class="Body-ForgotPassword">
    <!-- Body Login -->
    <div class="row Row-mid">
        <div class="col col-md-4 col-img">
            <img src="~/Img/forgotpasswordconfirmation.png" alt="Forgot Password Confirmation Img" id="imgfpc" />
            <div class="text-forgotpswconfirm">
                <h1 id="Title-fpc">L'email è stata inviata!</h1>
                <h4 id="Subtitle-fpc">
                    Ti preghiamo di controllare l'email per il reset della password
                </h4>
            </div>
            <div class="Social-login">
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-twitter'></i></a>
                <a href=""><i class='bx bxl-discord'></i></a>
                <a href=""><i class='bx bxl-facebook'></i></a>
            </div>
        </h1>
    </div>
</div>