@page
@model CamHouse.Areas.Identity.Pages.Account.LogoutModel
@{
    Layout = "~/Pages/Layout/_LogoutLayout.cshtml";
}

<div class="Body-ForgotPassword">
    <!-- Body Login -->
    <div class="row Row-mid">
        <div class="col col-md-4 col-img">
            <img src="~/Img/forgotpasswordconfirmation.png" alt="Forgot Password Confirmation Img" id="imgfpc" />
            <div class="text-forgotpswconfirm">
                <h1 id="Title-fpc">Sei uscito con successo dal tuo account</h1>
                <h4 id="Subtitle-fpc">
                    Ti ringraziamo per aver utilizzato il nostro sito web, da tutto lo staff di CamHouse!
                </h4>
            </div>
            <div class="Social-login">
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-twitter'></i></a>
                <a href=""><i class='bx bxl-discord'></i></a>
                <a href=""><i class='bx bxl-facebook'></i></a>
            </div>
            </h1>
        </div>
    </div>
