@page
@model ResetPasswordModel
@{
    Layout = "~/Pages/Layout/_ResetPasswordLayout.cshtml";
}
<!-- Start Body Login -->
<div class="Body-Register">
    <!-- Body Login -->
    <div class="row Row-mid">
        <div class="col-md-4 col-img">
            <img src="~/Img/resetpassword.png" alt="Login Img" id="imgregister" />
            <div class="Social-login">
                <a href=""><em class='bx bxl-instagram'></em></a>
                <a href=""><em class='bx bxl-twitter'></em></a>
                <a href=""><em class='bx bxl-discord'></em></a>
                <a href=""><em class='bx bxl-facebook'></em></a>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4 col-form">
            <h1 id="Title-login">Register</h1>
            <h4 id="Subtitle-login">
                Hey sei nuovo su questo sito!
                <br>Qui sotto ti propongo dei campi da compilare obligatoriamente per poterti registrare al nostro servizio.
            </h4>
            <section>
                <form id="account" method="post">
                    <div asp-validation-summary="ModelOnly" class="all-error"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <!-- Trasformazione form in div -->
                    <div id="EForm form-group">
                        <input type="email" asp-for="Input.Email" id="e-check" placeholder="Email"
                               autocomplete="off" />
                        <span id="e-msg" asp-validation-for="Input.Email"></span>
                    </div>
                    <div id="PForm form-group">
                        <input asp-for="Input.Password" type="password" id="psw-check" placeholder="Password" />
                        <span id="p-msg" asp-validation-for="Input.Password"></span>
                    </div>
                    <div id="CPForm form-group">
                        <input asp-for="Input.ConfirmPassword" type="password" id="conf-psw-check" placeholder="Conferma Password" />
                        <span id="p-msg" asp-validation-for="Input.ConfirmPassword"></span>
                    </div>
                    <div id="SForm form-group">
                        <input type="submit" id="SubmitRegister" value="Registrami" />
                    </div>
                    <div id="Registrati form-group">
                        <button type="submit" class="btn btn-primary">Reset</button>    
                    </div>
                    <!-- Trasformazione finita -->
                </form>
            </section>
        </div>
    </div>
</div>
<!-- End Body Login -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}