@page
@model ResetPasswordConfirmationModel
@{
    Layout = "~/Pages/Layout/_ResetPswConfirmLayout.cshtml";
}
<div class="Body-ResetPasswordConfirmation">
    <!-- Body Login -->
    <div class="row Row-mid">
        <div class="col-md-7 col-img">
            <img src="~/Img/ResetPasswordConfirmation.png" alt="Reset Password Confirmation Img" id="img-rpc" />
            <div class="text-rpc">
                <h3 id="Title-rpc">La tua password è stata cambiata con successo!</h3>
                <p class="Subtitle-rpc">
                    Ricorda!<br>
                    1- Non affidare o dare la tua password a nessuno<br>
                    2- Nessuno dello staff ti chiedera mai email e password<br>
                    Grazie ancora per aver utilizzato il nostro sito web!
                </p>
                <a class="rpswclogin" asp-page="/CrudPages/Login">Clicca per ritornare al login!</a>
            </div>
            <div class="Social-rpc">
                <a href=""><em class='bx bxl-instagram'></em></a>
                <a href=""><em class='bx bxl-twitter'></em></a>
                <a href=""><em class='bx bxl-discord'></em></a>
                <a href=""><em class='bx bxl-facebook'></em></a>
            </div>
        </div>
    </div>
</div>