@page
@model CamHouse.Pages.CrudPages.CamJoinViewModel
@{
    Layout = "~/Pages/Layout/_CamJoinViewLayout.cshtml";
}

<div class="Body-CamJoinView">
    <!-- Body Login -->
    <div class="row Row-mid">
        <div class="colcustom10">
            <div class="Zone-img">
                <div class="Zone-img-view">
                        <img id="video" src="https://localhost:5001/api/url=@Model.link" onerror="ErrorImage()"/>
                </div>
                     <div class="Zone-img-stats">
                        <p class="Zone-img-stats-title"></p>
                        <form class="form-like" method="post">
                            <button type="submit" name="Like" class="Zone-img-stats-like"><em class='bx bx-like'></em> Like</button>
                            <input type="hidden" value="@Model.link"/>
                        </form>
                        <form class="form-pref" method="post">
                            <button type="submit" name="Favorite"class="Zone-img-stats-pref"><em class='bx bx-bookmarks'></em> Preferiti</button>
                            <input type="hidden" value="@Model.link"/>
                        </form>
                    </div>
            </div>

        </div>
    </div>
</div>
<script>
    function ErrorImage(){
        var img = document.getElementById('video');
        img.src = "/Img/errorcam.png";
        img.id = "onerror";
        img.onerror = null;

    }
    //window.onload = function () {
    //    var image = document.getElementById("video");

    //    function updateImage() {
    //        image.src = image.src.split("?")[0] + "?" + new Date().getTime();
    //    }

    //    setInterval(updateImage, 1000);
    //}
    function refresh(node) {
        var times = 3000; // gap in Milli Seconds;

        (function startRefresh() {
            var address;
            if (node.src.indexOf('?') > -1)
                address = node.src.split('?')[0];
            else
                address = node.src;
            node.data = address + "?time=" + new Date().getTime();

            setTimeout(startRefresh, times);
        })();

    }

    window.onload = function () {
        var node = document.getElementById('video');
        refresh(node);
        // you can refresh as many images you want just repeat above steps
    }
</script>
