@page
@model CamHouse.Pages.CrudPages.CamJoinViewModel
@{
    Layout = "~/Pages/Layout/_CamJoinViewLayout.cshtml";
}

<div class="Body-CamJoinView">
    <!-- Body Login -->
    <div class="row Row-mid">
        <div class="col-md-10">

            <>

        </div>
    </div>
</div>
