@page
@model CamHouse.Pages.CrudPages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="col-md-4">
    <form method="post">
        <div class="form-group">
            <b><label class="control-label">Nome Camera</label></b>
            <input asp-for="camera.nome" class="form-control" />
            <span asp-validation-for="camera.nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <b><label class="control-label">Link Camera</label></b>
            <input asp-for="camera.link" class="form-control" />
            <span asp-validation-for="camera.link" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b><label class="control-label">Numero Like</label></b>
            <input asp-for="camera.num_like" class="form-control" />
            <span asp-validation-for="camera.num_like" class="text-danger"></span>
        </div>
        <div class="form-group">
            <b><label class="control-label">Numero Salvati</label></b>
            <input asp-for="camera.num_salvati" class="form-control" />
            <span asp-validation-for="camera.num_salvati" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-info" />
        </div>
    </form>
</div>