@page
@model CamHouse.Pages.CrudPages.DeleteModel
@{
    Layout = "~/Pages/Layout/_DeleteLayout.cshtml";
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            <strong>

                <label asp-for="camera.nome" class="control-label">Nome</label>

            </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.camera.nome)
        </dd>
        <dd class="col-sm-2">
            <strong>

                <label asp-for="camera.link" class="control-label">Link</label>
            </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.camera.link)
        </dd>
        <dd class="col-sm-2">
            <strong>

                <label asp-for="camera.num_like" class="control-label">num_like</label>

            </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.camera.num_like)
        </dd>
        <dd class="col-sm-2">
            <strong>

                <label asp-for="camera.num_salvati" class="control-label">num_salvati</label>
            </strong>
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.camera.num_salvati)
        </dd>

    </dl>

    @if (User.Identity.IsAuthenticated)
    {
        <form method="post">
            <input type="hidden" asp-for="camera.id" />
            <input type="submit" value=" Delete" class="btn btn-danger" /> |
            <a asp-page="./Index">Back to list</a>
        </form>
    }
   
    
    else
        {
            <form style="display:inline-block">

                | <input type="submit" asp-area="Identity" asp-page="/Account/Login" value="X" class="btn btn-outline-danger" />

            </form>
        }
    

</div>
